<% layout('layouts/boilerplate') -%>


<div class="col">
    <%for(let product of products){%>
        <div style="margin: 20px;">
            <!-- <div class="card text-center shadow-sm mx-auto" style="width: 18rem;"> -->
                <!-- <img src="<%=product.img%>" class="card-img-top" alt="item image"> -->
                <div >
                  <h5 ><%= product.name %> </h5>
                  <p ><%= product.desc %></p>
              <p ><%= product.mark %> </p>
                  <!-- <h5 ><%= product.name %> </h5>
                  <h5 ><%= product.name %> </h5> -->
                  <!-- <a href="/products/<%=product._id%>" class="btn btn-sm">Buy Now</a> -->

                  <!-- <a href="#" class="btn btn-success btn-sm">Buy</a> -->
                  <a href="#" class="btn btn-success btn-sm">Read More</a>
                  <a href="/products/<%=product._id%>/edit" class="btn btn-info btn-sm">Edit</a>
                 <form class="d-inline-block" action="/products/<%=product._id%>?_method=DELETE" method="POST">
                    <button class="btn btn-sm btn-danger">Delete</button>
                </form>


                </div>
            <!-- </div> -->
        </div>
    <%}%>
</div>