<% layout('layouts/boilerplate') -%>


<div class="row">
            <div>
              <h5><%= product.name %> </h5>
              <p ><%= product.desc %></p>
              <p >$ <%= product.mark %> </p>
              <a href="#" class="btn btn-success btn-sm">Read More</a>
              <a href="/products/<%=product._id%>/edit" class="btn btn-info btn-sm">Edit</a>
             <form class="d-inline-block" action="/products/<%=product._id%>?_method=DELETE" method="POST">
                <button class="btn btn-sm btn-danger">Delete</button>
            </form>
            </div>
</div>